astroid==2.3.1
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
munch==2.3.2
numpy==1.17.2
opencv-python==3.4.2.17
Pillow==9.0.1
pretrainedmodels==0.7.4
pylint==2.4.2
segmentation-models-pytorch==0.0.3
six==1.12.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.36.1
typed-ast==1.4.0
wrapt==1.11.2
